body {
    display: flex;
    align-items: center;
    background: rgb(17, 128, 172);
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
}
a {
    color: rgb(7, 105, 12);
}

p {
    font-size: large;
}
.list-container {
    border: 1px solid grey;
    background-color: beige;
    padding: 3rem;
    border-radius: 20px;
    font-size: 1.5rem;
}
